<div class="crear-agente-container">
  <div class="crear-agente-card">
    <div class="row">
      <div class="main-image col-md-7" style="text-align: right;">
        <img src="assets/images/panda.png" alt="Icono de panda" width="200" height="200">
      </div>
      <div class="col-md-5" style="text-align: left;">
        <h4>AbCall</h4>
      </div>
    </div>

    <h2 i18n>Nuevo Agente</h2>

    <form [formGroup]="agenteForm" (ngSubmit)="guardarAgente()">
      <div class="row">
        <div class="form-group col-md-6">
          <label i18n for="name">Nombre</label>
          <input id="name" type="text" formControlName="name" class="input-field" placeholder="Nombre" />
          <div class="form-error" *ngIf="agenteForm.get('name')?.invalid && agenteForm.get('name')?.touched">
            <small i18n *ngIf="agenteForm.get('name')?.errors?.['required']">El nombre es requerido.</small>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label i18n for="email">Correo Electrónico</label>
          <input id="email" type="email" formControlName="email" class="input-field" placeholder="Correo Electrónico" />
          <div class="form-error" *ngIf="agenteForm.get('email')?.invalid && agenteForm.get('email')?.touched">
            <small i18n *ngIf="agenteForm.get('email')?.errors?.['required']">El correo es requerido.</small>
            <small i18n *ngIf="agenteForm.get('email')?.errors?.['email']">Ingresa un correo válido.</small>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label i18n for="password">Contraseña</label>
          <input id="password" type="password" formControlName="password" class="input-field" placeholder="Contraseña" />
          <div class="form-error" *ngIf="agenteForm.get('password')?.invalid && agenteForm.get('password')?.touched">
            <small i18n *ngIf="agenteForm.get('password')?.errors?.['required']">La contraseña es requerida.</small>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label i18n for="identification">Identificación</label>
          <input id="identification" type="text" formControlName="identification" class="input-field" placeholder="Identificación" />
          <div class="form-error" *ngIf="agenteForm.get('identification')?.invalid && agenteForm.get('identification')?.touched">
            <small i18n *ngIf="agenteForm.get('identification')?.errors?.['required']">La identificación es requerida.</small>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label i18n for="phone">Teléfono</label>
          <input id="phone" type="text" formControlName="phone" class="input-field" placeholder="Teléfono" />
          <div class="form-error" *ngIf="agenteForm.get('phone')?.invalid && agenteForm.get('phone')?.touched">
            <small i18n *ngIf="agenteForm.get('phone')?.errors?.['required']">El teléfono es requerido.</small>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label i18n for="address">Dirección</label>
          <input id="address" type="text" formControlName="address" class="input-field" placeholder="Dirección" />
          <div class="form-error" *ngIf="agenteForm.get('address')?.invalid && agenteForm.get('address')?.touched">
            <small i18n *ngIf="agenteForm.get('address')?.errors?.['required']">La dirección es requerida.</small>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label i18n for="city">Ciudad</label>
          <input id="city" type="text" formControlName="city" class="input-field" placeholder="Ciudad" />
        </div>
        <div class="form-group col-md-6">
          <label i18n for="state">Estado</label>
          <input id="state" type="text" formControlName="state" class="input-field" placeholder="Estado" />
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label i18n for="zip_code">Código Postal</label>
          <input id="zip_code" type="text" formControlName="zip_code" class="input-field" placeholder="Código Postal" />
        </div>
        <div class="form-group col-md-6">
          <label i18n for="country">País</label>
          <input id="country" type="text" formControlName="country" class="input-field" placeholder="País" />
        </div>
      </div>

      <button i18n type="submit" class="guardar-button">Guardar</button>
    </form>
  </div>
</div>
