
<div class="row" >
  <div class="col" >
    <div class="col-md-12" style="background-color: white;  padding-top: 15px;padding-left: 0px; margin: 10px;">
      
      
      <div class="card shadow-sm " >
        <div class="card-header text-white text-center" style="background-color: #291563;">
          <h5>Detalles del Cliente</h5>
        </div>
        <div *ngIf="clientplan" class="card-body">
          <div class="row mb-3">
            <div class="col">
              <strong>ID del Cliente:</strong>
              <p class="mb-0">{{ clientplan.id }}</p>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <strong>Nombre:</strong>
              <p class="mb-0">{{ clientplan.name }}</p>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <strong>Email:</strong>
              <p class="mb-0">{{ clientplan.email }}</p>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <strong>Nombre de la Empresa:</strong>
              <p class="mb-0">{{ clientplan.company_name }}</p>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <strong>Fecha de Creación:</strong>
              <p class="mb-0">{{ clientplan.created_at | date:'medium' }}</p>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <strong>Última Actualización:</strong>
              <p class="mb-0">{{ clientplan.updated_at | date:'medium' }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <strong>ID del Plan:</strong>
              <p class="mb-0">{{ clientplan.plan }}</p>
            </div>
          </div>
        </div>
      </div>

      <div style=" height: 200px; padding: 20px;">
        
          <button (click)="reportes()" class="btn btn-dark me-2">Board reportes</button>
          <button (click)="crearIncidencia()" class="btn btn-dark me-2">Crear incidencia</button>
      </div>

    </div>
  </div>
  
  <div *ngIf="planData" class="col">

      <div class="container mt-4">
        <div class="card">
          <div class="card-header  text-white" style="background-color: #291563;">
            Detalles del Plan
          </div>
          <div class="card-body">
            <h5 class="card-title">Nombre del Plan: {{ planData.nombre }}</h5>
            <p class="card-text"><strong>Descripción:</strong> {{ planData.descripcion }}</p>
      
            <h6 class="mt-3">Características:</h6>
            <ul class="list-group list-group-flush">
              <li *ngFor="let feature of planData.features" class="list-group-item">
                {{ feature }}
              </li>
            </ul>
          </div>
        </div>
      </div>
      

  </div>
  



</div>





