<div class="login-container">

  <div class="main-image">
    <img src="assets/images/panda.png" alt="Icono" width="150" height="150" >
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-group">
      <h5 class="textos">Correo</h5>
      
      <input type="email" id="email" formControlName="email" class="input-field" placeholder="Correo">
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
        <small class="error-message" *ngIf="loginForm.get('email')?.errors?.['required']">Email es requerido.</small>
        <small class="error-message" *ngIf="loginForm.get('email')?.errors?.['email']">Ingresa un email valido.</small>
      </div>
    </div>

    <div class="form-group">
      <h5 class="textos">Contraseña</h5>
      <input type="password" id="password" formControlName="password" class="input-field" placeholder="Contraseña" >
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        <small class="error-message" *ngIf="loginForm.get('password')?.errors?.['required']">Contraseña es requerido.</small>
         <!--<small *ngIf="loginForm.get('password')?.errors?.['minlength']">Contraseña debe contener almenos 8 caractéres.</small>-->
      </div>
    </div>

    <!--

    <div *ngIf="error" class="error-message">
      <h5>{{ error }}</h5>
    </div>
    -->

    <button class="login-button" type="submit" [disabled]="loginForm.invalid">Ingresar</button>

    <div class="links">
      <a href="/clients/register" class="link">Registro</a>
      <a href="/clients/recover" class="link">Recuperar contraseña</a>
    </div>

  </form>
      
  


</div>
