<div class="login-container">

  <div class="main-image">
    <img src="assets/images/panda.png" alt="Icono" width="150" height="150" >
  </div>

  <h2 i18n>Inicio de sesion de Cliente</h2>

  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-group">
      <h5 i18n class="textos">Correo</h5>
      
      <input type="email" id="email" formControlName="email" class="input-field" placeholder="Correo">
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
        <small i18n class="error-message" *ngIf="loginForm.get('email')?.errors?.['required']">Email es requerido.</small>
        <small i18n class="error-message" *ngIf="loginForm.get('email')?.errors?.['email']">Ingresa un email valido.</small>
      </div>
    </div>

    <div class="form-group">
      <h5 i18n class="textos">Contraseña</h5>
      <input i18n type="password" id="password" formControlName="password" class="input-field" placeholder="Contraseña" >
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        <small i18n class="error-message" *ngIf="loginForm.get('password')?.errors?.['required']">Contraseña es requerido.</small>
      </div>
    </div>

    <button i18n class="login-button" type="submit" [disabled]="loginForm.invalid">Ingresar</button>

    <div class="links">
      <a i18n [routerLink]="['/clients/register']"  class="link">Registro</a>
      <a i18n [routerLink]="['/clients/recover']"  class="link">Recuperar contraseña</a>
    </div>

  </form>




</div>
