<div style="width: 100%; height: 100vh; background-color: black">
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a  class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/board']">icono</a>
        <a class="navbar-brand" href="#">ABCall</a>
        <div class="collapse navbar-collapse" id="navbarNav" mdbCollapse>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a  class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/incidents']">incidencias</a>
            </li>
            <li class="nav-item dropdown">
              <a  class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/board']">ver tablero</a>
            </li>
            <li class="nav-item dropdown">
              <a  class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/account']">Cuenta</a>
            </li>
            <li class="nav-item">
              <a  class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/todo']">Cerrar sesion</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="row">
    <div class="col-12" style="background-color: black; padding-top: 80px;">
      <router-outlet></router-outlet>
    </div>
  </div>

  <footer>
    MISO - Tears of the devs
    Intregantes: Darío, Andrés, Inés, Emmanuel.
  </footer>

</div>
