* [lang^=en] {
    color: green;
  }
  
  
  header {
    position:relative;
    width:100%;
    top: 0px;
    z-index: 99999;
  }

  
  
  footer{
    position:fixed;
    bottom: 0px;
    background-color:white;
    color: black;
    width:100%;
    align-items: center;
    margin-top: 8px;
    padding: 8px;
    line-height: 20px;
  }
  