<style>
  html, body {
    height: 100%; /* Asegura que ocupen el 100% de la altura del viewport */
    margin: 0;
  }
  .full-height {
    height: 100vh; /* 100% del viewport */
  }
</style>

<div style="width: 100%; height: 100%; ">
  <header>
    <nav class="navbar navbar-expand-lg fixed-top" style="background-color: #e4daff;">
      <div class="container-fluid" style="background-color:#e4daff;">
        <img src="assets/images/panda.png" alt="Icono" width="40" height="40">
        <a class="navbar-brand" href="#">ABCall</a>
        <div class="collapse navbar-collapse" id="navbarNav" mdbCollapse>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a  class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/incidents']">incidencias</a>
            </li>

            <li class="nav-item dropdown">
              <a  class="nav-link dropdown-toggle" id="navbarDropdownClients" role="button" data-toggle="dropdown"
              aria-expanded="false" [routerLinkActive]="['active']">clientes</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownClients">
                <li><a  class="dropdown-item" [routerLink]="['/clients/register']">Registro</a></li>
                <li><a  class="dropdown-item" [routerLink]="['/clients/login']">Login</a></li>
                <li><a  class="dropdown-item" [routerLink]="['/clients/board']">Board</a></li>
                <li><a  class="dropdown-item" [routerLink]="['/clients/login2']">login2</a></li>
                <li><a  class="dropdown-item" [routerLink]="['/clients/plan-selection']">plan de servicio</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a  class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/clients/board']">ver tablero</a>
            </li>
            <li class="nav-item dropdown">
              <a  class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/account']">Cuenta</a>
            </li>
            <li class="nav-item">
              <a  class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/todo']">Cerrar sesion</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>


  <div class="container-fluid full-height" style="background-color: white; padding: 80px 0 0px 0;">
    
    <router-outlet></router-outlet>
    <!--<div class="col-12" style="background-color: green; padding-top: 80px;">
       <router-outlet></router-outlet>
    </div>
    -->
    
  </div>
  
  
  
  

  <footer style="background-color: #e4daff;">
    <div class="row">
      <div class="col-md-11">
        MISO - Tears of the devs
        Intregantes: Darío, Andrés, Inés, Emmanuel.
      </div>
      <div  class="col-md-1">
        version 1.1
      </div>
    </div>
    


  </footer>

</div>
